<h1>User info</h1>
  
  <%= form_with model: @user do |f| %>
    <label for="inputName">Name</label>
  　<p> <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%></p>

 　　 <label for="inputImage">Image</label>
    <p><%= f.file_field :profile_image, placeholder: "Image", accept: "image/*" %></p>

    <label for="inputIntroduction">Introduction</label>
    <p><%= f.text_field :introduction, autofocus: true, id:"inputIntroduction" %></p>

    <%= f.submit "Update User", class: "btn btn-secondary" %>
  <% end %>