<h1>User info</h1>

  <%= form_with model: @user do |f| %>
    <h4>Name</h4>
  　<%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%>

    <h4>Image</h4>
    <p><%= f.file_field :profile_image, placeholder: "Image", accept: "image/*" %></p>

    <h4>Introduction</h4>
    <p><%= f.text_field :introduction, autofocus: true, id:"inputIntroduction" %></p>

    <%= f.submit "Update User", class: "btn btn-secondary" %>
  <% end %>