<h1>Posts list</h1>
  <div class="row">
    <div class="col-md-4">
      <%= link_to tags_posts_path, class: "btn btn-primary" do%>
      <i class="fa-solid fa-tags"></i>Tags list
      <% end %>
    </div>

    <div class="col-md-8">
      <div class="card-deck">
        <% @posts.each do |post| %>
          <div class="card">
            <div class="card-body">
              <%= link_to post_path(post.id), class: "card-img-top" do %>
                <%= image_tag post.get_image(300,300), class: "img-fluid" %>
              <% end %>
              <div class="card-title"><%= link_to post.title, post_path(post.id) %></div>
              <div class="card-text">名前：<%= post.user.name %></div>
              <div class="card-text"><%= link_to "#{post.post_comments.count} コメント", post_path(post.id) %></div>
            </div>
          </div>
        <% end %>
        <%= paginate @posts %>
      </div>
    </div>

  </div>