<h1>Post Details</h1>
  <div class="row justify-content-md-center">
    <div class="col-md-3">
      <%= image_tag @post.user.get_profile_image(200,200) %>
      <p><%= @post.user.name %></p>
      <p>
        <% if @post.user == current_user %>
          <%= link_to edit_user_path, class: "btn btn-outline-secondary" do %>
            <i class="fa-solid fa-gear">プロフィール編集</i>
          <% end %>
        <% end %>
      </p>
    </div>

    <div class="col-md-6">
      <!--投稿画像-->
      <%= image_tag @post.get_image(200,200) %>
      <!--位置情報-->
      <div id='map'></div>

      <style>
      #map {
        height: 200px;
        width: 200px;
      }
      </style>

      <!-- js部分 -->
      <script>
      //初期マップの設定
      let map
      let marker
      function initMap(){
        geocoder = new google.maps.Geocoder()

        map = new google.maps.Map(document.getElementById('map'), {
          center:  {lat: <%= @post.latitude %>, lng: <%= @post.longitude %>},
          zoom: 15,
        });

         marker = new google.maps.Marker({
          position:  {lat: <%= @post.latitude %>, lng: <%= @post.longitude %>},
          map: map
        });
      }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfSlCb30sfGu7nekA_rcI2Lxa7aZvt4CM&callback=initMap" async defer></script>

      <!--いいね-->
　　　<% if @post.favorited_by?(current_user) %>
        <p>
          <%= link_to post_favorite_path(@post), method: :delete do %>
            ♥<%= @post.favorites.count %> いいね
          <% end %>
        </p>
      <% else %>
        <p>
          <%= link_to post_favorite_path(@post), method: :post do %>
            ♡<%= @post.favorites.count %> いいね
          <% end %>
        </p>
      <% end %>

      <div class="border-bottom">Title：<%= @post.title %></div>
      <div class="border-bottom">Body：<%= @post.body %></div>
      <div class="border-bottom">
        Tag：
        <% @post.tags.each do |tag| %>
          <%= link_to tag.name, post_path(tag.id) %>
        <% end %>
      </div>
      <p>Submission Date：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
      <% if user_signed_in? %>
        <% if @post.user == current_user %>
          <%= link_to edit_post_path(@post), class: "btn btn-outline-secondary" do %>
            <i class="fa-solid fa-gear">編集</i>
          <% end %>
          <%= link_to post_path(@post), method: :delete, class: "btn btn-outline-danger" do %>
            <i class="fa-regular fa-trash-can">削除</i>
          <% end %>
        <% end %>
      <% end %>

    </div>

    <div class="col-md-3">
      <p>コメント件数：<%= @post.post_comments.count %></p>
      <% @post.post_comments.each do |post_comment| %>
        <%= post_comment.user.name %>
        <%= post_comment.created_at.strftime('%Y/%m/%d') %>
        <p><%= post_comment.comment %></p>
        <% if post_comment.user == current_user %>
          <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete  %>
        <% end %>
      <% end %>
      <%= form_with model: [@post, @post_comment] do |f| %>
        <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
        <%= f.submit "送信する" %>
      <% end %>
    </div>

  </div>