<h1>Posts#show</h1>
  <div class="row justify-content-md-center">
    <div class="col">
      ユーザー
    </div>

    <div class="col-6">
      <%= image_tag @post.get_image(200,200) %>
      <p>タイトル：<%= @post.title %></p>
      <p>本文：<%= @post.body %></p>
      <p>タグ一覧：<% @post.tags.each do |tag| %><%= tag.name %><% end %></p>
      <p>投稿ユーザー画像：<%= image_tag @post.user.get_profile_image(100,100) %></p>
      <p>ユーザーネーム：<%= @post.user.name %></p>
      <p>投稿日：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
      <% if @post.user == current_user %>
        <%= link_to "編集", edit_post_path(@post) %>
      <% end %>
      <% if @post.user == current_user %>
        <%= link_to "削除", post_path(@post), method: :delete %>
      <% end %>
    </div>

    <div class="col">
      コメント
    </div>
  </div>